.CartButton {
  width: 100%;
}

.CartButton-counter {
  position: absolute;
  margin-left: 0.9%;
  padding: 0.10% 0.50%;
  font-size: 1.3em;
  border-radius: 50%;
  background-color: yellow;
  color: black;
  font-weight: bolder;
}

.CartButton-image {
  width: 100%;
  fill: white;
}