/* .CartButton {
  width: 100%;
} */

.CartButton-counter {
  position: absolute;
  padding: 0.7em 1em;
  margin-left: 2.1em;
  font-size: 0.33em;
  border-radius: 50%;
  background-color: yellow;
  color: black;
  font-weight: bolder;
}

.CartButton-image {
  height: 1.5em;
  width: 2em;
  fill: white;
}