* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

h2 {
  width: 50%;
  float: left;
  margin-left: 25%;
  text-align: left;
  font-size: 2em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header {
  background-color: #99081f;
}

.Header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.Header-item {
  list-style: none;
}

.Header-cart {
  padding-top: 0;
}

.Message {
  width: 50%;
  margin-left: 25%;
  padding: 5%;
  border-radius: 10px;
  float: left;
  font-weight: bold;
}

.Message--state-error {
  background-color: #ff63471c;
  color: tomato;
  border: 1px solid tomato;
}

.Message--state-ok {
  background-color: #d4edda;
  color: olivedrab;
  border: 1px solid olivedrab;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}