[class*="Product"] {
  float: left;
  padding: 10px;
  margin: 0;
}

[class*="--display-block"][class^="Product-"] {
  width: 100%;
}

.Product {
  list-style: none;
}

.Product-name--display-block {
  font-size: 1.5em;
}

.Product-description--display-block {
  font-style: italic;
  color: #71706c;
}

.Product-description--display-block, .Product-price--display-block, .Product-addToCart__button {
  font-size: 1em;
}

.Product-description--display-block {
  height: 70px;
  overflow: hidden;
}

.Product-addToCart, .Product-addToCart__button{
  width: 100%;
}

.ProductList--display-block {
  width: 50%;
  margin-left: 25%;
}

.ProductList--display-inline {
  width: 50%;
  margin-left: 25%;
}

.Product--display-block{
  width: 50%;
}

.Product--display-inline {
  width: 100%;
}

.Product-image--display-inline {
  width: 30%;
}

.Product-info--display-inline {
  width: 50%;
}

.Product-name--display-inline, .Product-price--display-inline, .Product-description--display-inline {
  width: 100%;
  text-align: left;
}

.Product-amountControls {
  width: 20%;
  margin-top: 10%;
  border: 1px solid;
}

.Product-amountControls__button {
  width: 33.3%;
  border: none;
  background-color: white;
  font-size: 1.5em;
}

.Product-amountControls__span {
  width: 33.3%;
  margin-top: 5%;
}

.Product-addToCart {
  padding: 15px 50px;
}

.Product-addToCart__button {
  font-weight: bold;
  background-color: #99081f;
  color: white;
  border-radius: 50px;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="Product-"] {
    width: 100%;
  }
  [class*="ProductList"] {
    width: 100%;
    margin: 0;
  }
}